<style type="text/css">
  td[contentEditable], p[ng-click] {
    cursor: pointer;
  }
</style>

<div id="crud">
  <%= link_to "Create new data", new_bycycle_path, remote: true, class: "btn btn-info" %>
</div>
<div ng-controller="BycyclesController">
<p ng-click="promo('544e31ba6d646b545c010000')">{{expression_me}}</p>
<p ng-bind="bind_me"></p>
<p>
  <span>{{bycycle_scope.bycycle}}</span>
</p>
<p ng-bind="bind_me_brand"></p>
custom action
<input cst-enter="promo('Enter Event')" >


<ul ng-repeat="bycycle_data in list_bycycle">
  <li ng-repeat="bycycle_obj in bycycle_data">
    {{bycycle_obj.brand}}
  </li>
</ul>

<table class="table table-bordered table-hover table-striped display" >
  <thead>
    <tr>
      <th>Detail</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Name</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @bycycles.each do |bycycle| %>
    <tr>
      <td>
        <%= link_to "Show", bycycle_path(bycycle.id), remote: true %><span> | </span>
        <%= link_to "Edit", edit_bycycle_path(bycycle.id), remote: true %><span> | </span>
        <%= link_to "Delete", bycycle_path(bycycle.id), method: "DELETE", remote: true, data: {confirm: 'Delete this data ? '} %>
      </td>
      <td contentEditable="true" ng-model="bycycle.brand" data-bycycle-id="'<%= bycycle.id %>'" ng-focus="promo('<%= bycycle.id %>')" ng-blur="process_update('<%= bycycle.id %>', 'This mus not used')" ><%= bycycle.brand %></td>
      <td><%= bycycle.category %></td>
      <td><%= bycycle.name %></td>
      <td><%= bycycle.stock %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
